:root{
    --white-color: #ffffff;
    --black-color: #0d1117;
    --green-color: #11c09d;
    --green-color-50: #11c09d33;
    --violet-color: #793dc2;
    --violet-color-50: #793dc233;

    --margin-20: 20px;
    --margin-10: 10px;
}