
body{
  margin: 0;
  position: absolute;
  height: 100%;
  width: 100%;
  overflow: auto; 
  overflow-x: hidden
}
ul{
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  margin-bottom: 0%;
}
button{
  color: white;
  border: 2px solid rgb(75, 0, 130);
  background-color: rgb(75, 0, 130);
  border-radius: 0.6em;
  font-size: 100%;
  font-weight: 600;
  line-height: 1;
  margin: 20px;
  margin-bottom: 0;
  padding: 1.2em 2.8em;
}
button:hover{
  border-color: rgb(75, 0, 130);
  background-color: rgb(196,209,220);
  color: #fff;  
  box-shadow: 0 0 10px 0  rgb(196,209,220) inset, 0 0 10px 4px rgb(75, 0, 130);
  transition: all 150ms ease-in-out;
}
.head{
    position: relative;
    height: 40%;
    background-image: url('http://zakazposterov.ru/fotooboi/z/fotooboi-505-203-abstraktsiya-zakazposterov-ru_z.jpg');
    /* background-image: url('https://funart.pro/uploads/posts/2020-04/1587646399_41-p-besshovnie-foni-dlya-saitov-116.jpg'); */
    background-size: contain;
}
.photo{
  position: relative;
  background-image: url('https://avatars.mds.yandex.net/get-kinopoisk-post-img/1345014/95e44cfe0abaddb03e43181d31a9f788/960x540');
  width: 300px;
  height: 300px;  
  border: solid white;
  border-width: medium;
  background-color: black;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 50%;
  margin-top: -150px;
  margin-left: auto;
  margin-right: auto;  
}
.title{
  transform: translate(0px, 120%);
  opacity: 0;
  transition: all 0.8s ease 0s;
  position: relative;
  text-align: center;
  font-family: 'Open Sans',Arial,sans-serif;
  font-weight: 600;
  color: #000;
  font-size: 230%;   
}
.title._active{  
  transform: translate(0px, 0px);
  opacity: 1;
}
.vacancy{
  position: relative;
  text-align: center;
  font-family: 'Open Sans',Arial,sans-serif;
  font-weight: 300;
  color: #000;
  font-size: 100%; 
  margin-top: 10px;
}
.link{  
  margin-left: auto;
  margin-right: auto; 
  position: relative;
  text-align: center;
}
.messenger{
  position: relative;  
  width: 45px;
  height: 45px;  
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 20%;
}
.messenger:hover{  
  box-shadow:  0 0 10px 2px rgb(75, 0, 130);
  transition: all 150ms ease-in-out;
}
.text{
  text-align: center;
  width: 30%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 60px;
  font-family: 'Open Sans',Arial,sans-serif;
  font-weight: 300;
  color: #000;
  /* font-size: 200%; */
}

.fondOne, .fondTwo{
  position: relative;
  width: auto;
  height: auto;
  margin: 0%;
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: rgb(196,209,220) ;
  text-align: center;
}
.blockJob1{
  position: relative;
  text-align: right;
  width: 50%;
  padding-top: 20px;
  min-height: 10%;
  margin-left: auto;
  margin-right: auto;
}
.blockJob2{
  text-align: left;
}
.caseJob1{
  position: relative;
  width: 45%;
  transform: scale(0);
  transition: all 0.5s ease 0s;
}
.caseJob1._active{
  transform: scale(1);
}

.caseJob2{
  position: relative;
  margin-left: auto;
}
.nameJob{
  font-family: 'Open Sans',Arial,sans-serif;
  font-weight: 200;
  color: rgb(75, 0, 130);
  font-size: 160%;
}
.nameVacancy{
  font-style: italic;
  font-family: 'Open Sans',Arial,sans-serif;
  font-weight: 200;
  color: rgb(75, 0, 130);
  font-size: 100%;
}
.work{
  font-style: italic;
  font-weight: 200;
  color: rgb(0, 0, 0);
  font-size: 100%;
}
.circle{
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: rgb(75, 0, 130);
  border-radius: 50%;
  left:0;
  right:0;
  top:0;
  bottom:0;
  margin: 20px auto 0 auto;
}
.rectangle{  
  position: absolute;
  width: 5px;
  height: 100px;
  background-color: rgb(75, 0, 130);
  left:0;
  right:0;
  top:45px;
  bottom:-15px;
  margin: auto; 
 height: initial;
}
.fondTwo{
  background-color: white;
}
li.text{
  text-align: left;
  margin-bottom: 10px;
  font-style: italic;
  font-size: 100%;
  font-weight: 100;
  transform: translate(120%,0px);
  opacity: 0;
  transition: all 2.5s ease 0s;
}
li.text._active{
  
  transform: translate(0px,0px);
  opacity: 1;
}
.container{
  display: flex;
  position: relative;
  width: 60%;
  margin: auto;
  margin-top: 10px;

}
.draft{
  flex-basis: 0;
  flex-grow: 1;
  position: relative;
  display: inline;
  background-color: rgb(196,209,220);
  margin-left: 1%;
  margin-right: 1%;
  text-align: left;
  padding: 50px;
  opacity: 0;
}

.draft._active{
  transition: all 2s ease 0s;
  opacity: 1;
}
.nameProject{
  position: relative;
  margin-bottom: 10px;
  color: rgb(75, 0, 130);
  
}
.textProject{
  color: black;
  font-size: 140%;
}
.linkProject{
  position: relative;
  margin-top: 100px;
  bottom: 0px;
  text-align: right;
  
}
.portrait{
  position: relative;
  margin: 0;
  min-width: 150px;
  min-height: 150px;
  width: 30%;
  height: auto;
  background-image: url('https://avatars.mds.yandex.net/get-kinopoisk-post-img/1345014/95e44cfe0abaddb03e43181d31a9f788/960x540');
  background-size:cover;
  background-position: center;
  background-repeat: no-repeat;  
  transition: all 0.8s ease 0s;
}
.portrait._active{
 box-shadow:10px 10px 2px 1px rgba(0, 0, 0, .3); 
 border: 1px solid rgb(196,209,220);
}
.biography{
  position: relative;
  flex-basis: 50%;
  opacity: 0.6;
  text-align: left;
  margin: 20px;
  font-weight: 500;
  text-indent: 20px;
  font-size: 112.50%;
  line-height: 1.55;
}
.footer{
  width: 100%;
  height: 10%;

}
.childFooter{
  width: 100%;
  height: 100%;
  color: black;
  background-image: url('http://zakazposterov.ru/fotooboi/z/fotooboi-505-203-abstraktsiya-zakazposterov-ru_z.jpg');
  opacity: 0.4;
  background-size: cover;
  background-size: contain;
}
div.contacts{ 
  font-size: 80%; 
  position: absolute;
  left: 85%;
  text-align: left;
}
div.coopir{
  margin: 0;
  position: absolute;
  left: 25%;
  text-align: left;
}
@media (max-width: 992px){
  
.blockJob1{
  text-align: left;
  margin-left: auto;
}
.caseJob1, .caseJob2{
  width: 90%;  
  margin-left: 10%;
}
.circle{
  margin: 20px 0 0;
}
.rectangle{
  margin-left: 7.5px;
}

}


@media (max-width: 1280px) and (orientation: landscape), (max-width: 1280px){
  .text{
    width: 80%;
    font-size: 140%;
  }
  .vacancy, .nameJob{
    font-size: 160%;
  }
  .title{
    font-size: 200%;
  }
  .nameVacancy, .work{
    font-size: 140%;
  }
  .container, .draft{
    display: block;
    width: 95%;
  }
  .draft{
    margin-top: 10px;  
    padding: 10px;
  }
  .text.biography{
    width: 100%;
    margin: 0;
  }
  .portrait{
    margin-left: auto;
    margin-right: auto;
  }
}