.info {
  position: relative;
  background-image: url('../../assets/header.svg');
  background-size: cover;
  background-color: var(--black-color);
  padding-top: 20px;
  margin: -20px -20px 0 -20px;
  @media (max-width:600px) {
    padding-top: 10px;
  margin: -10px -10px 0 -10px;
  }
}

.photo {
  position: relative;
  background-image: url('../../assets/photo1.jpg');
  max-width: 200px;
  aspect-ratio: 1 / 1;
  border: solid var(--black-color);
  border-width: medium;
  background-color: var(--black-color);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
  @media (max-width:600px) {
    max-width: 100px;
  }
}

.title {
  position: relative;
  text-align: center;
  font-weight: 600;
  color: var(--white-color);
  font-size: 150%;
}