<div class="experience-container">
    <h3>Коммерческий опыт:</h3>
    <div class="experience">
        <div class="experience-item">
            <h3>АстроСофт</h3>
            <div class="experience-info">
                <p>- Разработала и внедрила модуль интеграции международных телефонных кодов</p>
                <p>- Настроила кастомные события в Яндекс.Метрике для анализа поведения пользователей</p>
                <p>- Улучшила UX ключевых экранов в рамках редизайна системы</p>
            </div>
        </div>
        <div class="experience-item">
            <h3>ООО Новые Системы Электроники</h3>
            <div class="experience-info">
                <p>✅ ЗАПУСТИЛА ПРОДУКТ ДЛЯ КЛИЕНТОВ ЧЕРЕЗ 2 МЕСЯЦА</p>
                <p>- Разработала десктопное приложение на Electron + React для Windows</p>
                <p>- Создала embedded-решение для Raspberry Pi с COM-портом</p>
                <p>- Реализовала систему обновления через USB</p>
            </div>
        </div>
    </div>
</div>