<div class="link">
    <a href="mailto:aleksandra12mail@mail.ru" class="_animItems" target="_blank"> <img src="../../assets/email.png"
            class="messenger"></a>
    <a href="tel:+79516368960" class="_animItems" target="_blank"> <img src="../../assets/phone.png"
            class="messenger"></a>
    <a href="https://t.me/aleksandraman12" class="_animItems" target="_blank"> <img src="../../assets/telegramm.png"
            class="messenger"></a>
    <a href="https://www.linkedin.com/in/alex-zolotuhina/" class="_animItems" target="_blank"> <img
            src="../../assets/linkedin.png" class="messenger"></a>
    <a href="https://github.com/21aLeX" class="_animItems" target="_blank"> <img
            src="../../assets/github.png" class="messenger"></a>
</div>