<!-- Навыки -->
<div class="container-skils">
    <h3>Скилы:</h3>
    <div class="skils">
        <div class="panel__chart chart chart--donut"></div>
        <ul class="panel__keys keys">
            <li class="key">
                <span class="key__choice color-1">Node.js, Electron, Git, Webpack, Jest (~3г)</span>
            </li>
            <li class="key">
                <span class="key__choice color-2">React, Redux Toolkit (~3г)</span>
            </li>
            <li class="key">
                <span class="key__choice color-3">JavaScript (4г)</span>
            </li>
            <li class="key">
                <span class="key__choice color-4">Angular, AngularJs (~2г)</span>
            </li>
            <li class="key">
                <span class="key__choice color-5">HTML5/CSS3 (4г)</span>
            </li>
            <li class="key">
                <span class="key__choice color-6">TypeScript (~2г)</span>
            </li>
        </ul>
    </div>
</div>
</div>


<!-- <div class="skils">
        <div class="title _animItems">Скилы</div>
        <ul>
            <li class="text _animItems">JavaScript/TypeScript</li>
            <li class="text _animItems">React, Redux Toolkit</li>
            <li class="text _animItems">Angular, AngularJs</li>
            <li class="text _animItems">HTML5/CSS3</li>
            <li class="text _animItems">Node.js, Electron, Git, Webpack, Jest</li>
        </ul>
    </div> -->