<div class="projects-container">
    <h3>Pet-projects:</h3>
    <div class="projects">
        <div class="projects-item">
            <h3>Шаблон резюме</h3>
            <div class="projects-info">
                <div class="project">
                    Адаптивно сверстанный шаблон резюме. С анимацией, семантической версткой.
                    <br>
                    Html/CSS, JavaScript.
                </div>
                <a href="https://front-end-entrance-exam.vercel.app/" target="_blank" class="button-open">Смотреть</a>
            </div>
        </div>
        <div class="projects-item">
            <h3>ToDo лист</h3>
            <div class="projects-info">
                <div class="project">
                    ToDo лист, выполнен с использованием фреймворка Vue.
                    <br>
                    Html/CSS, JavaScript, Vue.
                </div>
                <a href="https://to-do-1ojus0cus-21alex.vercel.app/todo" target="_blank"
                    class="button-open">Смотреть</a>
            </div>
        </div>
        <div class="projects-item">
            <h3>Загрузчик на Яндекс.диск</h3>
            <div class="projects-info">
                <div class="project">
                    При переходе на страницу необходимо авторизоватся через яндекс, разрешая полный доступ к записи на
                    диск. За раз можно загружать не более 100 файлов. Файлы с одиноковым именем будут перезаписаны.
                    <br>
                    Html/CSS, JavaScript, React, React-router-dom, React-i18next.
                </div>
                <a href="https://loading-yd.vercel.app/auxiliary" target="_blank" class="button-open">Смотреть</a>
            </div>
        </div>
        <div class="projects-item">
            <h3>Страница 2fa авторизации</h3>
            <div class="projects-info">
                <div class="project">
                    Представляет собой авторизацию с эмулированием 2FA. При вводе корретного email и пароля(от трёх
                    символов), в ответ отправляется и выводится в консоли код, который необходимо ввести на след шаге
                    для получения токена. Время жизни кода ограниченно 30сек(настраивается), после чего предлагается
                    запросить код повторно.
                    <br>
                    Html/CSS, TypeScript, React, Bootstrap, Vite.
                </div>
                <a href="https://21alex.github.io/login-project-demo/" target="_blank" class="button-open">Смотреть</a>
            </div>
        </div>
        <div class="projects-item">
            <h3>Приложение личный кабинет</h3>
            <div class="projects-info">
                <div class="project">
                    Состоит из страницы входа и страницы со списком контактов. Вход под
                    любым логином и паролем. Страница со списком доступна только после авторизации. На странице имеется
                    возможность добавлять\удалять\редактировать контакты, а также есть поиск. Добавленные контакты после
                    выхода сохраняются в sessionStorage.
                    <br>
                    Html/CSS, JavaScript, React, Redux, UI MUI.
                </div>
                <a href="https://21alex.github.io/21aLeX.github.io-communications/" target="_blank"
                    class="button-open">Смотреть</a>
            </div>
        </div>
        <div class="projects-item">
            <h3>SPA график погоды</h3>
            <div class="projects-info">
                <div class="project">
                    Веб-приложение, где полученные по API (OpenWeatherMap) данные выводятся на графике температура,
                    влажность и атмосферное давление в ближайшие 4-5 дней. С возможностью выбора города.
                    <br>
                    Html/CSS, JavaScript, React, Redux, UI MUI.
                </div>
                <a href="https://21alex.github.io/21aLeX.github.io-weather/"
                    target="_blank" class="button-open">Смотреть</a>
            </div>
        </div>

    </div>
</div>