.education-container {
    background-color: var(--black-color);
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    width: 100%;
    margin: 0 auto;
    padding: 30px;
}

.gallery-item {
    position: relative;
    height: 50px;
    flex-grow: 1;
    width: 100%;
    overflow: hidden;
    cursor: pointer;
    transition: width 0.4s;

    ::marker {
        content: "";
    }
}

/* .gallery-item:hover img {
    filter: brightness(1.2);
} */

.gallery-item[open] {
    height: 300px;

    &:has(.with-img) {
        height: 500px;
    }
}

.gallery-item__summary {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    h3 {
        position: relative;
        z-index: 1;
    }
}


.gallery-item[open] .gallery-item__summary img {
    filter: brightness(0.5);
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    top: 0;
    position: absolute;
}

.gallery-item__info {
    position: relative;
    height: 50px;
    padding: 24px 16px;
    color: #ffffff;

    img {
        filter: none;
        top: 0;
        left: 0;
        position: relative;
        object-fit: cover;
        max-width: 500px;
    }
}