<div class="education-container">
    <h3>Образование:</h3>
    <div class="education">
        <div class="gallery">
            <details class="gallery-item" name="gallery">
                <summary class="gallery-item__summary">
                    <h3>Высшее(бакалавариат)</h3>
                    <img src="../../assets/BSU.png" alt="БГУ">
                </summary>
                <div class="gallery-item__info">
                    <p>Бурятский государственный университет, Улан-Удэ</p>
                    <p>2013-2017</p>
                    <p>Институт математики и информатики. Кафедра Ит. Направление "прикладная информатика".</p>
                </div>
            </details>
            <details class="gallery-item" name="gallery">
                <summary class="gallery-item__summary">
                    <h3>Высшее(магистратура)</h3>
                    <img src="../../assets/BSU.png" alt="БГУ">
                </summary>
                <div class="gallery-item__info">
                    <p>Бурятский государственный университет, Улан-Удэ</p>
                    <p>2017-2019</p>
                    <p>Институт математики и информатики. Кафедра Ит. Направление "математическое моделирование и разработка по".</p>
                </div>
            </details>
            <details class="gallery-item" name="gallery">
                <summary class="gallery-item__summary">
                    <h3>Повышение квалификации(курс)</h3>
                </summary>
                <div class="gallery-item__info with-img">
                    <p>Курс от Hexlet по направлению фронтенд разработка.</p>
                    <p>2022-2023</p>
                    <p>Изучение js, ts, html, css, react. И сдача четырёх итоговых проекта.</p>
                    <img src="../../assets/hexlet.png" alt="hexlet">
                </div>
            </details>
            <details class="gallery-item" name="gallery">
                <summary class="gallery-item__summary">
                    <h3>Повышение квалификации(курс)</h3>
                </summary>
                <div class="gallery-item__info  with-img">
                    <p>Курс от T-банка по направлению Js-разработка.</p>
                    <p>2024</p>
                    <p>Изучение ts, angular, rxJs. И сдача финального проекта в составе команды из трех человек.</p>
                    <img src="../../assets/t-bank.PNG" alt="t-bank">
                </div>
            </details>
        </div>
    </div>
</div>